Brotli==1.0.9
click==8.0.4
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
Flask==2.0.3
Flask-Compress==1.11
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
patsy==0.5.2
plotly==5.6.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
scipy==1.8.0
six==1.16.0
statsmodels==0.13.2
tenacity==8.0.1
waitress==2.1.1
Werkzeug==2.0.3
