<!DOCTYPE html>
<html>

<head>
    {%metas%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%title%}</title>
    {%favicon%}
    {%css%}
    <style>
        body {
            background-image: url("assets/background_large.jpg");
            margin: 5%;
        }

        @media only screen and (max-width: 640px) {
            body {
                background-image: url("assets/background_small.jpg");
            }
        }
    </style>
</head>

<body>
    {%app_entry%}
    <footer>
        {%config%}
        {%scripts%}
        {%renderer%}
    </footer>
    <footer>
		<a class="hvr-bob button" href="/">Back to Home</a>
		<a class="hvr-bob button" href="/glossary">Browse Glossary</a>
	</footer>
</body>

</html>