{% extends 'base.html' %}
{% block title %} Glossary - Time Series Terms {% endblock %}
{% block body %}
<div class="content">
    <h2>Glossary of Time Series Terms</h2>
    <dl>
        {% for item in definitions %}
        <dt id="{{ item['title'] }}" style="font-weight: bold;">{{ item['title'] }}:</dt>
        <dd style="margin-bottom: 20px;;">{{ item['definition']}}</dd>
        {% endfor %}
    </dl>
</div>
{% endblock %}
{% block footer%}
<footer>
    <a class="hvr-bob button" href="{{ url_for('index')}}">Back to Home</a>
</footer>
{% endblock %}