{% extends 'base.html' %}
{% block title %} Time Series App {% endblock %}

{% block body %}
<div class="content">
	<h1>Time Series App</h1>
	<hr>
	<p>A simple app to learn about, and apply <a href="https://en.wikipedia.org/wiki/Time_series">time series
			analysis</a> techniques. A <a href="{{ url_for('glossary')}}">glossary of terms</a> is available to
		help get familiar with the main concepts.
	</p>
	<p>In a nutshell, Time Series Analysis purposes to learn and emulate the behaviour of data over time. Time
		Series Forecasting then leverages this knowledge to estimate future values.
	</p>

	<figure>
		<img src="{{ url_for('static', filename='ts.png')}}" alt="Time series results image">
		<figcaption> An example of time series analysis results, plotted.</figcaption>
	</figure>

	<p>To give it a try, you can upload a file or create a sample to analyse:</p>

	<a href="{{url_for('upload_file')}}" class="hvr-bob button">Upload a file</a>
	<a href="{{ url_for('sample_dashboard')}}" class="hvr-bob button">Create a sample</a>
</div>
</body>

</html>
{% endblock %}
{% block footer %}{% endblock %}