{% extends 'base.html' %}
{% block title %} Processing Sample Time Series {% endblock %}
{% block body %}

<body>
	<div class="content">
		<h1>Creating a sample</h1>
		<p>Please fill the form below:</p>
		<blockquote><b>Note:</b> The sample is an <a
				href="https://en.wikipedia.org/wiki/Autoregressive%E2%80%93moving-average_model#ARMA_model">ARMA</a>
			process, created using a random number generator.
			<ul>
				<li><b>Start date</b>, <b>end date</b> and <b>frequency</b> determine its length.</li>
				<li><b>AR order</b> and <b>MA order</b> set its order.</li>
			</ul>
		</blockquote>
		<form action="{{ url_for('create_sample')}}" method="post">

			{% if input_error %}
			<p style="color: orangered; width: 70%; font-size: 0.8em;">
				{{input_error}}
			</p>
			{% endif %}

			<label for="start_date"> Start Date: </label>
			<input type="date" name="start_date" id="start_date" min='2020-01-01' max="{{ sample_params['start'] }}"
				value="{{ sample_params['start'] }}" required><br>

			<label for="end_date">End date:</label>
			<input type="date" name="end_date" id="end_date" min='{{ sample_params['end'] }}' max="2038-01-01"
				value="{{ sample_params['end'] }}" required><br>

			<label for="frequency">Frequency:</label>
			<select name="frequency" id="frequency">
				{% for frequency in sample_params['frequencies'] %}
				<option value="{{ frequency }}">{{ sample_params['frequencies'][frequency] }}</option>
				{% endfor %}
			</select><br>

			<label for="ar_order">AR order:</label>
			<select name="ar_order" id="ar_order">
				{% for i in range(1, 6) %}
				<option value={{ i }}>{{ i }}</option>
				{% endfor %}
			</select><br>

			<label for="ma_order">MA order:</label>
			<select name="ma_order" id="ma_order">
				{% for i in range(1, 6) %}
				<option value={{ i }}>{{ i }}</option>
				{% endfor %}
			</select><br>

			<input class="button" type="submit" value="submit">
		</form>
	</div>

	<footer>
		<a class="hvr-bob button" href="{{ url_for('index') }}">Back to Home</a>
		<a class="hvr-bob button" href="{{ url_for('glossary') }}">Browse Glossary</a>
	</footer>
</body>

</html>
{% endblock %}