body {
	margin: auto;
	text-align: center;
	font-size: 1.25em;
	color: darkslategrey;
	max-width: 1000px;
	height: 100%;
}
a {
	text-decoration: underline;
	color: steelblue;
}
a:hover {
	text-decoration: none;
	color: darkcyan;
}
table {
	max-width: 90%;
	margin: 5%;
}
th, td {
	padding: 7px 14px;
}
tr:nth-child(even) {
	background-color: rgb(119, 136, 153, 0.5);
}
input, select {
	padding: 8px;
	box-shadow: 4px 7px 10px grey;
	border-radius: 10px;
	margin: 15px;
	width: 220px;
	background-color: white;
}
footer {
    margin: 5% auto;
	}
.button {
	background-color: slategrey;
	padding: 10px 30px;
	border-radius: 10px;
	margin: 2%;
	font-size: 0.8em;
}
.button:hover {
	background-color: #404040;
	box-shadow: 5px 10px 10px black;
	font-size: 0.9em;
	color: #fff;
}
.content {
	margin: 2% 10%;
}
img {
  width: 90%;
}
.info {
	background-color: rgb(0,0,0,0.1);
	padding: 20px;
	text-align: left; 
	margin: 20px;
	border-radius: 5px;
	font-style: italic;
}