{% extends 'base.html' %}
{% block title %} Time Series App {% endblock %}
{% block body %}
<body >
	<div class="content">
		<h1>Time Series App</h1>
		<hr>
		<p>A simple app to learn about, and apply <a href="https://en.wikipedia.org/wiki/Time_series">time series analysis</a> techniques.</p>
		<p>In a nutshell, Time Series Analysis purposes to learn and emulate the behaviour of data over time. Time Series Forecasting then leverages this knowledge to estimate future values.</p>
		<p>This handy app allows you two options to see this in action:</p>
		<a href="{{url_for('upload_file')}}"><button class="button">Upload a file</button></a>
		<a href="{{ url_for('create_sample')}}"><button class="button">Create a sample</button></a>
	</div>

</body>
</html>
{% endblock %}