{% extends 'base.html' %}
{% block title %} Time Series App {% endblock %}
{% block body %}

<body>
	<div class="content">
		<h1>Time Series App</h1>
		<hr>
		<p>A simple app to learn about, and apply <a href="https://en.wikipedia.org/wiki/Time_series">time series
				analysis</a> techniques. A <a href="{{ url_for("glossary")}}">glossary of terms</a> is available to help
			get familiar with the main concepts.</p>
		<p>In a nutshell, Time Series Analysis purposes to learn and emulate the behaviour of data over time. Time
			Series Forecasting then leverages this knowledge to estimate future values.</p>
	</div>
	<figure style="margin: 4%;">
		<img src="{{ url_for('static', filename='ts.png')}}" alt="Time series results image">
		<figcaption> An example of time series analysis results, plotted.</figcaption>
	</figure>
	<div class="content">
		<p>To give it a try, you can upload a file or create a sample to analyse:</p>
		<a href="{{url_for('upload_file')}}"><button class="hvr-bob button">Upload a file</button></a>
		<a href="{{ url_for('create_sample')}}"><button class="hvr-bob button">Create a
				sample</button></a>
	</div>
</body>

</html>
{% endblock %}