<!DOCTYPE html>
<html>
<head>
	<title>Time Series App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tstyle.css')}}">
	<style type="text/css">
		body {
			background: url({{ url_for('static', filename='home_background_large.jpg')}}) no-repeat fixed;
			background-size: cover;
		}
		@media only screen and (max-width: 768px) {
			body {
				background: url({{ url_for('static', filename='home_background_small.jpg')}}) no-repeat fixed;
				background-size: cover;
			}
		}
	</style>
</head>
<body >
	<div class="content">
		<h1>Time Series App</h1>
		<p>A simple app to learn about, and apply <a href="https://en.wikipedia.org/wiki/Time_series">time series analysis</a> techniques.</p>
		<p>In a nutshell, Time Series Analysis purposes to learn the behaviour of data over time. Time Series Forecasting then leverages this knowledge to anticipate future outlooks.</p>
		<p>This handy app allows you two options to see this in action:</p>
		<a href="{{url_for('upload_file')}}"><button class="button">Upload a file</button></a>
		<a href="{{ url_for('create_sample')}}"><button class="button">Create a sample</button></a>
	</div>

</body>
</html>