<!DOCTYPE html>
<html>
<head>
	<title>Processing {{ filename }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tstyle.css')}}">
	<style type="text/css">
		body {
			background: url({{ url_for('static', filename='home_background_large.jpg')}}) no-repeat fixed;
			background-size: cover;
		}
		@media only screen and (max-width: 768px) {
			body {
				background: url({{ url_for('static', filename='home_background_small.jpg')}}) no-repeat fixed;
				background-size: cover;
			}
		}
	</style>
</head>
<body style="margin: auto; text-align: center;">
<h1>Results for {{ filename }}</h1>
	<img src="{{ graphs[0]}}">
	<img src="{{ graphs[1]}}">

	<footer >
		<a href="/">Back to Home</a>
	</footer>
</body>
</html>