{% extends 'base.html' %}
{% block title %} Processing Sample Time Series {% endblock %}
{% block body %}

<body>
	<div class="content">
		<h1>Creating a sample</h1>
		<p>Please fill the form below:</p>
		<blockquote><b>Note:</b> The sample is created using a random number generator. </blockquote>
		<form action="{{ url_for('create_sample')}}" method="post">
			Start date: <input type="date" name="start" min='2020-01-01' max="{{ today }}" required><br>
			End date: <input type="date" name="stop" min='{{ today }}' max="2038-01-01" required><br>
			Frequency: <select name="frequency">
				{% for frequency in frequencies %}
				<option value="{{ frequency }}">{{frequencies[frequency] }}</option>
				{% endfor %}
			</select><br>
			{% if input_error %}
			<span style="color: orangered;">{{input_error}}</span><br>
			{% endif %}
			<input class="button" type="submit" value="submit">
		</form>
	</div>

	<footer>
		<a class="hvr-wobble-horizontal button" href="/">Back to Home</a>
	</footer>
</body>

</html>
{% endblock %}