<!DOCTYPE html>
<html>
<head>
	<title>Uploading File</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tstyle.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		body {
			background: url({{ url_for('static', filename='home_background_large.jpg')}}) no-repeat fixed;
			background-size: cover;
		}
		@media only screen and (max-width: 768px) {
			body {
				background: url({{ url_for('static', filename='home_background_small.jpg')}}) no-repeat fixed;
				background-size: cover;
			}
		}
	</style>
</head>
<body style="margin: auto; text-align: center;">
	<h1>Upload new File</h1>
	<h3>A quick word about uploads</h3>
	<p>Files should be in csv format, and have only one column and a date-like index, as shown below:</p>
	<table style="margin: auto; text-align: center;">
		<tr><th>Date-like Index</th><th>Data</th></tr>
		<tr><td>2020-01-01</td><td>140.25</td></tr>
		<tr><td>...</td><td>...</td></tr>

	</table>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input class="button" type=submit value=Upload>
    </form>

    <footer >
    	<a href="/">Back to Home</a>
	</footer>
</body>
</html>
