<!DOCTYPE html>
<html>
<head>
	<title>Upload new File</title>
	<style type="text/css">
		th, td {
  			border-bottom: 1px solid #ddd;
		}
	</style>
</head>
<body style="margin: auto; text-align: center;">
	<h1>Upload new File</h1>
	<p>Files should be in csv format, with have only one column and a date-like index, as shown below:</p>
	<table style="margin: auto; text-align: center;">
		<tr><th>Date Index</th><th>Data</th></tr>
		<tr><td>2020-01-01</td><td>140.25</td></tr>
		<tr><td>...</td><td>...</td></tr>

	</table>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
</body>
</html>
