body {
	background-color: rgba(192, 192, 192, 0.3);
	margin: auto;
	text-align: center;
	max-width: 1000px;
	height: 100%;
	font: oblique 1.25em Georgia;
}

.content {
	margin: 2% 8%;
	text-align: left;
}

a {
	text-decoration: underline;
	color: steelblue;
}

a:hover {
	text-decoration: none;
	color: darkcyan;
}

table {
	max-width: 90%;
	margin: 5%;
}

th, td {
	padding: 7px 14px;
}

tr:nth-child(even) {
	background-color: rgb(119, 136, 153, 0.3);
}

input, select {
	padding: 8px;
	box-shadow: 4px 8px 10px grey;
	border-radius: 10px;
	margin: 15px;
	width: 220px;
	background-color: snow;
}

.button {
	background-color: slategrey;
	padding: 15px 40px;
	border: none;
	margin: 2%;
	font-size: 0.8em;
	text-decoration: none;
	color: #fff;
}

.button:hover {
	background-color: #404040;
	box-shadow: 5px 10px 10px black;
}

footer {
	margin: 10% auto;
}

img {
	width: 100%;
}

.info {
	background-color: rgb(0, 0, 0, 0.1);
	padding: 20px;
	text-align: left;
	border-radius: 5px;
}

figcaption {
	font-size: 80%;
}

/* Hover Bob */

@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
	color: beige;
}